.fondo{
background: #f0f9ff; /* Old browsers */
background: -moz-linear-gradient(left, #f0f9ff 0%, #cbebff 0%, #a1dbff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f0f9ff), color-stop(0%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #f0f9ff 0%,#cbebff 0%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #f0f9ff 0%,#cbebff 0%,#a1dbff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #f0f9ff 0%,#cbebff 0%,#a1dbff 100%); /* IE10+ */
background: linear-gradient(to right, #f0f9ff 0%,#cbebff 0%,#a1dbff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 ); /* IE6-9 */
}

#current_time{ width:8%; margin:0.7% 1% 0 0; top:1%; right:1%; position:absolute;}

/************************ Submenus *************************************/
.dropdown-submenu { position:relative;}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
	}
.dropdown-submenu:hover>.dropdown-menu { display:block;}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
	}
.dropdown-submenu:hover>a:after { border-left-color:#ffffff;}
.dropdown-submenu.pull-left { float:none;}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
	}
	
